@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri+Quran&display=swap');

@font-face {
  font-family: "SF pro AR Disply semibold";
  src: url('https://raw.githubusercontent.com/MSALAHAH/inc/main/fonts/SFProARsemibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}